.bill__item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  padding: 1.25em;
  margin: 1.25rem;
}

.bill__item > p {
  padding: 1em;
}

.bill__item--button {
  margin: 1.25rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  border: none;
  background-color: var(--button-bg);
  padding: 0.5em;
  font-size: 1.2rem;
}

.bill__item--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  margin: 0.8rem;
  white-space: nowrap;
}

h5 {
  font-size: 1.2rem;
}

.bill__item--price {
  font-weight: bold;
  font-size: 1.2rem;
  justify-self: right;
}

.bill__item--total {
  font-weight: bolder;
  justify-self: right;
}

.billpage__confirm-button {
  margin: 1.25rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  border: none;
  background-color: var(--button-bg);
  padding: 0.5em;
  font-size: 1.2rem;
}

.billpage__tax--info {
  text-align: left;
}
