.billpage__item {
  box-shadow: var(--quartenary-shadow);
  border-radius: 5px;
  padding: 1.25em;
  margin: 1.25rem;
}

.billpage__item > p {
  padding: 1em;
}

.bill__item--button {
  margin: 1.25rem;
  box-shadow: var(--quartenary-shadow);
  border-radius: 5px;
  border: none;
  background-color: var(--primary-white);
  padding: 0.5em;
  font-size: 1.2rem;
}

.bill__item--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  margin: 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h5 {
  font-size: 1.2rem;
}

.bill__item--price {
  font-weight: bold;
  font-size: 1.2rem;
  justify-self: right;
}

.bill__item--total {
  font-weight: bolder;
  justify-self: right;
}

.billpage__confirm-button {
  margin: 1.25rem;
  padding: 0.8em 5em 0.4em 5em;
  box-shadow: var(--quartenary-shadow);
  border-radius: 5px;
  border: none;
  background: var(--quarternary-green-background);
  background: var(--quinary-green-gradient);
  color: var(--primary-white);
  font-size: 1.2rem;
}

.billpage__tax--info {
  text-align: left;
}

.billpage__confirm-check {
  font-size: 2rem;
}
