@import "../styles/_color.css";

.menu__item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  padding: 1.25em;
  margin: 1.25rem;
  text-align: left;
}

.menu__item--content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.menu__item--type {
  font-weight: bold;
}

.menu__item--price {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
}

.menu__counter--button {
  border: none;
  background-color: var(--button-bg);
  font-size: 1.2rem;
}

.menu__counter {
  text-align: right;
}

.menu__counter--number {
  font-size: 1.3rem;
  padding: 0.2em;
}

.menu__item--image {
  height: 13vh;
  width: 13vh;
  border-radius: 5px;
}
