.menu__item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  padding: 1.25em;
  margin: 1.25rem;
  text-align: left;
}

.menu__item--content {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 1em;
}

.menupage__item-type {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1.25rem;
  text-align: left;
}

.menu__item--price {
  font-size: 1.2rem;
  font-weight: bold;
  justify-self: right;
}

.menu__counter--button {
  border: none;
  background-color: var(--primary-white);
  font-size: 2rem;
}

.menu__counter {
  text-align: right;
}

.menu__counter--number {
  font-size: 2rem;
  padding: 0.2em;
}
