@import "../styles/_color.css";

.Navigation__nav {
  display: flex;
  justify-content: space-around;
}

.Navigation__navlink {
  text-decoration: none;
}

.Navigation__icon {
  font-size: 1.5rem;
}

.Navigation__navlink {
  color: var(--Navigation-navlink-inactive);
}

.Navigation__navlink--active {
  color: var(--Navigation-navlink-active);
}
