.navigation__nav {
  display: flex;
  justify-content: space-around;
}

.navigation__navlink {
  text-decoration: none;
}

.navigation__icon {
  font-size: 1.5rem;
}

.navigation__navlink {
  color: var(--secondary-gray);
}

.navigation__navlink--active {
  color: var(--tertiary-black);
}

.navigation__button {
  border: none;
  background-color: white;
}
