.order__item {
  box-shadow: var(--quartenary-shadow);
  border-radius: 5px;
  padding: 1.25em;
  margin: 1.25rem;
  text-align: left;
}

.order__item--content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.order__item--button {
  margin: 1.25rem;
  box-shadow: var(--quartenary-shadow);
  border-radius: 5px;
  border: none;
  background-color: var(--primary-white);
  padding: 0.5em;
  font-size: 1.2rem;
}

.order__item--delete {
  text-align: right;
  font-size: 2rem;
  border: none;
  background-color: var(--primary-white);
}

.orderpage__confirm-check {
  font-size: 2rem;
}
.orderpage__confirm-button {
  margin: 1.25rem;
  padding: 0.8em 5em 0.4em 5em;
  box-shadow: var(--quartenary-shadow);
  border-radius: 5px;
  border: none;
  background: var(--quarternary-green-background);
  background: var(--quinary-green-gradient);
  color: var(--primary-white);
  font-size: 1.2rem;
}

.orderpage__total-amount {
  font-size: 1.2rem;
}
