*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App__header {
  position: fixed;
  padding: 20px;
  width: 100%;
  background-color: white;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.App__main {
  height: 100vh;
  padding-top: 100px;
  overflow-y: scroll;
}

.App__footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 5px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
