*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

.App__header {
  position: fixed;
  padding: 1.25rem;
  width: 100%;
  background-color: var(--primary-white);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.App__main {
  height: 100vh;
  padding: 5em 0;
  overflow-y: scroll;
}

.App__footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 1.25rem;
  background-color: var(--primary-white);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 5px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.App__heading {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}

.App__service--icon {
  font-size: 3rem;
  position: fixed;
  bottom: 1.6em;
  right: 0.3em;
  padding: 0.2em;
  background-color: var(--primary-white);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
