@import "./styles/_color.css";
@import "./styles/_shadow.css";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

.App__header {
  position: fixed;
  padding: 1.25rem;
  width: 100%;
  background-color: var(--primary-white);
  box-shadow: var(--primary-shadow);
}

.App__main {
  height: 100vh;
  padding: 5em 0;
  overflow-y: scroll;
}

.App__footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 1.25rem;
  background-color: var(--primary-white);
  box-shadow: var(--secondary-shadow);
}

.App__heading {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}

.App__service--icon {
  font-size: 3rem;
  position: fixed;
  bottom: 1.6em;
  right: 0.3em;
  padding: 0.2em;
  background-color: var(--primary-white);
  border-radius: 50%;
  box-shadow: var(--tertiary-shadow);
}
